<div class="container">
  <div class="b-col">
    <div class="hero-container"></div>
  </div>
  <div class="b-col">
    <div class="login-container">
      <%# Adicionar form aqui %>
      <input type="text" class="input-box" placeholder="Usuário">
      <input type="password" class="input-box" placeholder="Senha">

      <p class="helper-text">Esqueceu a senha?</p>

      <button class="btn">ENTRAR</button>

      <p class="helper-text">Ainda não possui conta?</p>
    </div>
  </div>
</div>